# -- DB --
DATABASE_URL=user=diary_analyze_user password=xxxxx host=db port=5432 dbname=diary_analyze sslmode=disable connect_timeout=5
TEST_DATABASE_URL=user=postgres password=xxxxx host=db port=5432 dbname=test_diary_analyze sslmode=disable connect_timeout=5

# -- RabbitMQ --
RABBITMQ_URL=amqp://xxxx:xxxxx@rabbitmq:5672/

# -- JWT Configuration --
JWT_SECRET=xxxxx