# -- DB --
DATABASE_URL=user=user_context_user password=xxxxx host=db port=5432 dbname=user_context sslmode=disable connect_timeout=5
TEST_DATABASE_URL=user=postgres password=xxxxx host=db port=5432 dbname=test_user_context sslmode=disable connect_timeout=5

# -- RabbitMQ --
RABBITMQ_URL=amqp://xxxxx:xxxxx@rabbitmq:5672/

# -- OAuth Configuration --
GOOGLE_CLIENT_ID=xxxxx
GOOGLE_CLIENT_SECRET=xxxxx
GOOGLE_REDIRECT_URL=http://localhost:8082/auth/google/callback

# -- Mail Configuration --
MAILCATCHER_URL=http://mail:1080

# -- JWT Configuration --
JWT_SECRET=xxxxx
JWT_EXPIRES_IN=3600
JWT_REFRESH_EXPIRES_IN=72000
JWT_ISSUER=fam-diary-log-api
JWT_SIGN_METHOD=HS256

# -- App Configuration --
APP_URL=http://localhost:8082
CLIENT_APP_URL=http://localhost:3000

CORS_ALLOWED_ORIGINS=https://auth.freeeagle.info