# -- DB --
DATABASE_URL=user=diary_user password=diary_password host=db port=5432 dbname=diary sslmode=disable connect_timeout=5
TEST_DATABASE_URL=user=postgres password=password host=db port=5432 dbname=test_diary sslmode=disable connect_timeout=5

# -- RabbitMQ --
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/

# -- JWT Configuration --
JWT_SECRET=xxxxx